extends ../layouts/default

block content
	.container: .jumbotron
		h1 Welcome
		p This is the homepage for the Kalamazoo College CS Club!
		p Meetings are at<b> 3:00PM</b> at<b> Olds-Upton 310</b>. We currently host competitive programming teams, website development, and support for personal projects.
		<iframe src="https://calendar.google.com/calendar/embed?src=kalamazoocollegecsclub%40gmail.com&ctz=America/New_York" style="border: 0" width="100%" height="500px" frameborder="0" scrolling="no"></iframe>

		p If it looks a little rough, that's because the page is under construction
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.

